body{
    background-color: #28363D;
}

/* REGISTER */

.reg-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #C4CDC1;
    border-radius: 10px;
    margin-top: 15%;
}

.reg-container input[type=text],
.reg-container input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.reg-container button{
    background-color: #4CAF50;
    color: white;
    padding: 14px ;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    display: block;
}

.reg-container button:hover {
    background-color: #45a049;
}
  
.form-container h2 {
    text-align: center;
}
  
.form-container .message {
    text-align: center;
    margin-top: 16px;
}
  
.error-message {
    color: red;
}

.reg-container p{
    text-align: center;
}



/* NOTIF */
.popup {
    position: fixed;
    top: 5px; /* Adjust this value to set the distance from the top of the page */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.success-message {
    color: #008000; /* Green color for success message */
  }
  
.error-message {
    color: #ff0000; /* Red color for error message */
  }
  